body {
    background-color: blue;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.listContainer {
    width:300px;
    height: 500px;
    border: 1px solid black;
}

.inputForm {
    width: 200px;
    display: flex;
    justify-content: center;
}

.activeProject {
    background-color: red;
}

.listItem {
    display: flex;
    justify-content: space-between;
}

.listItem span:hover {
    cursor: pointer;
    color: red;
}

ul {
    list-style: none;
    padding: 0;
}

.projectSelectionList li img {
    opacity: 0;
}

.projectSelectionList li:hover img {
    opacity: 1;
}

.projectSelectionList li img:hover{
    transform: scale(1.1)
}

.projectSelectionList li:hover {
    background-color: red;
    cursor: pointer;
}

.projectSelectionList li {
    display: flex;
    justify-content: space-between;
}

.editProjectWrapper {
    position: relative;
    display: inline-block;
}

.editProjectContent{
    position:absolute;
    background-color: pink;
    z-index: 1;
}